:root {
  --x-47-7c-9e: rgba(71, 124, 158, 1);
  --e-5e-7eb: rgba(229, 231, 235, 1);
  --x-4-0dce-7: rgba(64, 220, 231, 1);
  --x-6b-7280: rgba(107, 114, 128, 1);
  --vovvvva: 0px 8px 6px 0px rgba(0, 0, 0, 0.05);
}